.topnav {
    background-color: black;
    font-family: "Courier New", sans-serif;
    height: fit-content;
    width: 100%;
}
.bubbleCircle{
    stroke:black;
    stroke-opacity: 0.7;
    stroke-width:1px;
    fill:red}


#map{
    margin: 0 auto;
    height: 1000px;
    width: 1800px;
    padding-top: 5vh;
}
g{
    margin: 0 auto;
   
} 
#mapSvg { 
    margin: 0 auto;
    width: 100%;
    height: 100%;
    }

.countries {
    fill: #eeeeee;
    transition-property: fill;
    transition-duration: 2s;
    stroke-width: 0.5px;
    stroke:black;
}

.ally{
    fill: #084B8A;
    transition-property: fill,stroke,stroke-width;
    transition-duration: 2s;
    stroke-width: 0.5px;
    stroke:black;
    opacity: 1;
}

.baddies{
    fill: #B43104;
    transition-property: fill,stroke,stroke-width;
    transition-duration: 2s;
    stroke-width: 0.5px;
    stroke:black;
    opacity: 1;
}

.circleY{
    r: 3;
    stroke-width: 0.5px;
    stroke:black;
    transition-property: r;
    transition-duration: 1s;
}

.circleE{
    r:0;
    stroke-width: 0.5px;
    stroke:black;
    transition-property: r;
    transition-duration: 1s;
}

.activeCountry{
    stroke:#F4FA58;
    stroke-width: 1.5px;
    transition-property: stroke;
    transition-duration: 2s;
}


.pulsanti {
    float: left;
    display: block;
    color: rgba(211,211,211,0.7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Courier New", sans-serif;
}

.active {
    color: white;
    font-weight: bold;
}

.inactive {
    color: rgba(211,211,211,0.7);
    font-weight: normal;
}

.pulsanti:hover {
    color: white;
}

.dv-title {
    margin-top: 65px;
    padding-bottom: 30px;
    margin-left: 30%;
    color: orange;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}
.axis--x path {
    display: none;
}

.button {
    min-width: 130px;
    padding: 4px 5px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
}

.button.active {
    background: #000;
    color: #fff;
}

.footer {
    text-align: center;
}

text {
    font: 12px sans-serif;
}
body{
    overflow: hidden;
    color: #000;
    background-color: black;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: fit-content;
    padding: 2px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    pointer-events: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 30px;
}
.infoPanel{
    position: relative;
    margin:0 auto;
    border-radius: 5%;
    background-color: white;
    width: 50vw;
    height: fit-content;
    padding: 2% 5% 1% 5%
}
.infoContent{
    margin: 0 auto;
    padding-bottom: 2%;
}
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 20px;
    top: 10px;
    color: #000;
    font-size: 65px;
    font-weight: bold;
    cursor: pointer;
}

#pic {
    float: right;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 15%;
    padding: 5px;
    width: 40%;
    height: 40%;
}

#battle_title {
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

#battle_description {
    font-family: "Courier New", sans-serif;
    font-size: 1.1vw;
    padding-bottom: 0;
}

#d_count {
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
}

#front {
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
}

#year {
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
}

.legend{
    cursor: pointer;
}