.topnav {
    background-color: black;
    font-family: "Courier New", sans-serif;
    height: 100%;
    width: 100%;
}
#map{
    height: 100%;
    width: 100%;
}
.pulsanti {
    float: left;
    display: block;
    color: rgba(211,211,211,0.7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Courier New", sans-serif;
}

.active {
    color: white;
    font-weight: bold;
}

.inactive {
    color: rgba(211,211,211,0.7);
    font-weight: normal;
}

.pulsanti:hover {
    color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 30px;
}
.infoPanel{
    position: relative;
    margin:0 auto;
    background-color: white;
    width: 40%; /* Full width */
    height: 40%; /* Full height */
}
.infoContent{
    margin: 0 auto;
    padding-top: 30px;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
}
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 20px;
    top: 10px;
    color: #000;
    font-size: 65px;
    font-weight: bold;
    cursor: pointer;
}
.countries {
    fill: #eeeeee;
}


.dv-title {
    margin-top: 65px;
    padding-bottom: 30px;
    margin-left: 30%;
    color: orange;
}

.map-container, .bubble-chart-container {
    margin: 0 auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.bar {
    fill: orange;
}

.bar:hover {
    fill: orangered;
}

.axis--x path {
    display: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.button {
    min-width: 130px;
    padding: 4px 5px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
}

.button.active {
    background: #000;
    color: #fff;
}


.visualization-main {
    margin: 0 auto;
    max-height: 77vh;
    max-width: 77vw;
}

#toolbar {
    margin-top: 10px;
}

.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #fff;
    opacity: .9;
    color: black;
    padding: 10px;
    width: 300px;
    font-size: 12px;
    z-index: 10;
}

.tooltip .title {
    font-size: 13px;
}

.tooltip .name {
    font-weight:bold;
}

.footer {
    text-align: center;
}

text {
    font: 12px sans-serif;
}
body{
    color: #000;
    background-color: black;
}


